html, body {
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 500px) {  
    #container {
        border-radius: none;
    }
}

@media screen and (max-width: 851px) {
    #container_3 {
        margin: auto;
    }
} 

@media screen and (max-width: 900px) {
    #container_1 {
        margin: 100px;
    }

    #container_1 {
        flex-direction: column;
        align-self: center;
    }
    #container_lock {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    #container {
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {   
    #container_3 {
        display: none;
    }
    #container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }
    #container > div {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 1301px) {
    #container_1 {
        display: none;
    }
}


@media screen and (max-width: 900px) {
    .container_1 .a_div.toggle {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .container_1.responsive {position: relative;}
    .container_1.responsive .a_div.toggle {
        position: absolute;
        right: 0;
        top: 0;
    }
    .container_1.responsive .a_div {
        float: none;
        display: block;
        text-align: left;
    }
}



header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('img/dubaifullhd.jpg');
    background-size: cover;
    padding-bottom: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: px solid black;
    background: #fff;
    align-items: center;
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 5px 5px 50px 5px #d3d3d3;
    z-index: 1;
}


.container > div {
    width: 350px;
    height: auto;
    border: px solid black;
}

.container_lock {
    display: none;
}

.container > div:nth-child(3) {
    width: 450px;
}

.container > div:nth-child(2) {
    width: 50px;
}

.container > div:last-child {
    width: 400px;
}

.container_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_2 > div {
    z-index: 3;
    width: 250px;
    height: 100px;
    border: px solid black;
    text-align: center;
}

.container_2 > div:nth-child(2) {
    width: 90px;
    height: 100px;
}


.interway_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

.container_3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: px solid black;
    align-items: center;
}


.container_3 > div {
    width: 180px;
    height: 90px;
    border: px solid black;
}


.container_3_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: px solid black;
    align-items: center;
}


.container_3_1 > div {
    width: 28px;
    height: 28px;
    border: px solid black;
}

.container_3_1 > div:first-child {
    width: 130px;
    height: auto;
}


.container_3_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: px solid black;
    align-items: center;
}


.container_3_2 > div {
    width: 28px;
    height: 28px;
    border: px solid black;
}

.container_3_2 > div:nth-child(2) {
    width: 135px;
    height: auto;
}


.phone_png {
    width: 10%;
    height: auto;
}

.company_number {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}


.logo_png {
    width: 100%;
    height: auto;
}


.logo_name {
    text-decoration: none;
    color: #000;
}

.location_png {
    width: 100%;
    height: auto;
}


.company_adress {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    font-weight: 600;
    color: #000;
}

.call_company {
    width: 130px;
    height: 50px;
    background: #00C4F1;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 99em;
    cursor: pointer;
}


.company_adress_a {
    color: #000;
    text-decoration: none;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: px solid black;
    overflow: hidden;
}


.container_1 > div {
    width: 140px;
    height: 70px;
    border: px solid black;
}

.company_ahref {
    position: relative;
    font-family:'Montserrat', sans-serif; 
    font-size: 120%;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}



.container_1_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}


.container_1_1 > div {
    width: auto;
    height: auto;
    border: px solid black;
}



.company_ahref::before {
    content: '';
	position: absolute;
    bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: orange;
}

.company_ahref:hover:before {
    width: 100%;
}

.company_ahref:hover {
    color: #00C4F1;
    transition: width 0.3s ease-out;
}

.company_ahref::before {
    transition: width 0.5s;
}

.container_1_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}


.container_1_2 > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.container_1_3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}


.container_1_3 > div {
    width: auto;
    height: auto;
    border: px solid black;
}



.container_1_4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}

.container_1_4 > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.toggle > i {
    color: #000;
    font-size: 35px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid #000;
    margin-top: 100px;
}

.container-2 > div {
    width: 500px;
    height: auto;
    border: px solid #000;
}

.container-2_last_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container-2_last_block > div {
    width: 200px;
    height: 50px;
    border: px solid black;
}

.way_blue_1 {
    color: #00c4f1;
}

.company_name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 250%;
    color: #fff;
}

.company_blue_name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    color: #00c4f1;
    font-weight: 900;
    font-style: italic;
}

.company_lorem {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #000;
}

.header_btn {
    width: 200px;
    height: 50px;
    color: #89CFF0;
    background: #F0FFFF;
    border-radius: 99em;
    border: none;
    cursor: pointer;
}

.strelka {
    padding-left: 10px;
    font-size: 12px;
}

.header_btn:active {
    cursor: auto;
}

/* @media (min-width: 700px) {
    .company_name {
        font-size: calc(50px + (16 + 16 * 0.7) * ((200vw - 320px) / 3080));
    }
    .toggle > i {
        font-size: 25px;
    }
}  */


@media screen and (max-width: 923px) {
    .container_nav_block > div:nth-child(2) > div {
        width: 700px;
    }
}

@media screen and (max-width: 730px) {
    .container_nav_block > div:nth-child(2) > div {
        width: 100%;
        height: 350px;
    }
}

.container_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    margin-top: 100px;
    z-index: -2;
}

.container_nav > div {
    margin-top: -150px;
    margin-bottom: 100px;
    width: 1000px;
    height: auto;
    border: px solid black;
    background: #fff;
}

.container_nav_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    border-radius: 1em;
    box-shadow: -1px 8px 10px gainsboro;
}

.container_nav_block > div:first-child {
    padding: 35px;
    width: 100%;
    height: auto;
    border: px solid black;
}

.container_nav_block > div:nth-child(2) {
    padding: 10px;
    width: 100%;
    height: auto;
    border: px solid black;
    padding-bottom: 50px;
}

.container_nav_block_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border: px solid black;
}

.container_nav_block_1 > div {
    width: auto;
    height: auto;
    border: px solid black;
}

.container_nav_block_1 > div:nth-child(2) {
    padding-left: 10px;
}

.navigation_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 900;
    color: #000;
}

.container_nav_block_1_circle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_nav_block_1_circle > div {
    width: 50px;
    height: 50px;
    border: px solid black;
    border-radius: 99em;
    background: #00c4f1;
}

.navigation_png {
    padding-top: 5px;
    padding-left: 9px;
    width: 70%;
    height: auto;
}


.container_nav_block_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: px solid black;
    align-items: center;
}

.container_nav_block_2 > div {
    margin: 10px;
    width: 160px;
    height: 220px;
    border: px solid black;
    border-radius: 1em;
    box-shadow: -1px 5px 10px 1px gray;
}

.nav_box1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    background: url(img/qatar.jpg);
    background-size: cover;
    transition: 1s;
}




.nav_box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    background: url(img/bahrein.jpg);
    background-size: cover;
    transition: 1s;
}



.nav_box3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    background: url(img/Dubai-UAE-urban-skyscraper-lights-roads_1920x1080.jpg);
    background-size: cover;
}



.nav_box4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    background: url('https://wallpaper.dog/large/5556754.jpg');
    background-size: cover;
    transition: 1s;
}


.nav_box5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    background: url(img/saudiarabia.jpg);
    background-size: cover;
    transition: 1s;
}


.all_box_text {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 140%;
    text-align: center;
    color: #fff;
}

.nav_box1 > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.nav_box2 > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.nav_box3 > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.nav_box4 > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.nav_box5 > div {
    width: 100%;
    height: auto;
    border: px solid black;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    margin-top: 50px;
}

.container_main > div {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 1100px;
    height: auto;
    border: px solid black;
    border-radius: 1em;
    box-shadow: -1px 8px 10px gainsboro;
}


.container_main_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_main_block > div:first-child {
    padding: 20px;
    width: 100%;
    height: auto;
    border: px solid black;
}

.container_main_block > div:nth-child(2) {
    padding: px;
    width: 100%;
    height: auto;
    border: px solid black;
}


.container_main_block_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border: px solid black;
}


.container_main_block_1 > div {
    width: auto;
    height: 50px;
    border: px solid black;
}

.container_main_block_1 > div:nth-child(2) {
    padding-left: 10px;
}

.container_main_block_1_circle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_main_block_1_circle > div {
    width: 50px;
    height: 50px;
    border: px solid black;
    border-radius: 99em;
    background: #00C4F1;
}

.lupa_png {
    padding-top: 11px;
    padding-left: 13px;
    width: 55%;
    height: auto;
}

.container_main_block_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: px solid black;
}

.container_main_block_2 > div { 
    margin: 30px;
    width: 450px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    border-radius: 1em;
    box-shadow: -1px 8px 10px gainsboro;
}

.container_main_block_2_block_1 > div {
    width: auto;
    height: auto;
    border: px solid black;
}


.container_main_block_2_block_1__1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}

.container_main_block_2_block_1__1 > div:first-child {
    width: 320px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_1__2 > div:first-child {
    width: 220px;
    height: auto;
    border: px solid black;
}
 
.container_main_block_2_block_1__2 > div:nth-child(2) {
    width: 220px;
    height: auto;
    border: px solid black;
}



.container_main_block_2_block_1__2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border: px solid black;
}

.container_main_block_2_block_1__1 > div:first-child {
    width: 320px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_1__1 > div:nth-child(2) {
    width: 120px;
    height: auto;
    border: px solid black;
}


.vanancy_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 120%;
}



.country_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 110%;
}

.people_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 110%;
}

.people_text::before {
    padding: 10px;
    content: "\f007";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #00C4F1;
}

.country_text::before {
    padding: 10px;
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #00C4F1;
}

.price_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 110%;
}

.price_text::before {
    padding: 10px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f53d";
    color: #00C4F1;
}

.vanancy_more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 100%;
    color: #00C4F1;
}

.vanancy_more > i {
    padding-left: 70px;
    font-size: 25px;
}

.hotels_text {
    font-size: 110%;
    color: #00C4F1;
}

.container_main_block_2_block_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    border-radius: 1em;
    box-shadow: -1px 8px 10px gainsboro;
}

.container_main_block_2_block_2 > div {
    width: auto;
    height: auto;
    border: px solid black;
}


.container_main_block_2_block_2__1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}

.container_main_block_2_block_2__1 > div:first-child {
    width: 320px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_2__2 > div:first-child {
    width: 220px;
    height: auto;
    border: px solid black;
}
 
.container_main_block_2_block_2__2 > div:nth-child(2) {
    width: 220px;
    height: auto;
    border: px solid black;
}



.container_main_block_2_block_2__2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border: px solid black;
}

.container_main_block_2_block_2__1 > div:first-child {
    width: 320px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_2__1 > div:nth-child(2) {
    width: 120px;
    height: auto;
    border: px solid black;
}


.container_main_block_2_block_3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
    border-radius: 1em;
    box-shadow: -1px 8px 10px gainsboro;
}

.container_main_block_2_block_3 > div {
    width: auto;
    height: auto;
    border: px solid black;
}


.container_main_block_2_block_3__1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: px solid black;
}

.container_main_block_2_block_3__1 > div:first-child {
    width: 320px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_3__2 > div:first-child {
    width: 220px;
    height: auto;
    border: px solid black;
}
 
.container_main_block_2_block_3__2 > div:nth-child(2) {
    width: 220px;
    height: auto;
    border: px solid black;
}



.container_main_block_2_block_3__2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border: px solid black;
}

.container_main_block_2_block_3__1 > div:first-child {
    width: 320px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_3__1 > div:nth-child(2) {
    width: 120px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_3__3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: px solid black;
}

.container_main_block_2_block_3__3 > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 430px;
    height: auto;
    border: px solid black;
}

.container_main_block_2_block_1 {
    padding: 10px;
}

.container_main_block_2_block_2 {
    padding: 10px;
}

.container_main_block_2_block_3 {
    padding: 10px;
}

.show_vacancy {
   width: 100px;
   height: 40px;
   background: #00C4F1;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 80%;
}



.show_vacancy:active {
    cursor: auto;
}

.fifa_project_text {
    font-size: 110%;
    color: #00C4F1;
}


@media screen and (max-width: 999px) {
    .container_main_block_2 {
        width: 100%;
        height: auto;
    }
    .container_main_block_2 > div {
        width: 100%;
        height: auto;
    }
    .container_main_block_2_block_3__3 > div {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 650x) {
    .container_main_block_2_block_3__3 > div {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 505px) {
    .container_main_block_2_block_1 > div > div{
        width: 100%;
        height: auto;
    }
    .container_main_block_2_block_2 > div > div {
        width: 100%;
        height: auto;
    }
    .container_main_block_2_block_3 > div > div {
        width: 100%;
        height: auto;
    }
}
